node_modules
dist

/packages/**/.pnp
.pnp.js

# testing
/packages/**/coverage

# next.js
/packages/**/.next/
/packges/**/out/

# production
/packages/**/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/packages/utils/g-suite-configs.json
